<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAToZVzHm7fqVBDK_o1y6oxIPdOdxNUO_c</string>
	<key>GCM_SENDER_ID</key>
	<string>825619031195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.broninn.drinkwater</string>
	<key>PROJECT_ID</key>
	<string>broninn-drink-water</string>
	<key>STORAGE_BUCKET</key>
	<string>broninn-drink-water.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825619031195:ios:767934903e7dbf51e7d23e</string>
</dict>
</plist>